<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table>
  <tr>
    <th>User</th>
    <th>Password</th>
    <th>Perission</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.screen_name %></td>
    <td><%= user.password %></td>
    <td><%= user.permission %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
  <% end %>
</table>
</body>
</html>