<!DOCTYPE html>
<html>
<head>
	<title>Rails App Welcome</title>
	<style type="text/css">
		h2{
			color: #5AE81C;
		}
	</style>
</head>
<body>
<h2>Home Page!</h2>
<%= link_to 'Submit New', new_article_path %> | 
<%= link_to 'See Articles', articles_path %> | 
<%= link_to 'New User', new_user_path %>

</body>
</html>

