<!DOCTYPE html>
<html>
<head>
  <title>User Page</title>
</head>
<body>
  <strong>User Name: </strong><%= @user.screen_name %>
<strong>Password: </strong><%= @user.password %>
<!-- <strong>Permissions </strong><%= @user.permission %> -->
</body>
</html>